.textOverImage{
    position: absolute;
    width:300px;
    height:300px;
    float: left;
    margin:4px;
    background-size:120%;
    background-position:center;
    transition:0.5s;
    z-index: 1;

    


  }
  
  .textOverImage:hover{
    background-size:120%;

  }
  
  .textOverImage:after{
    position:absolute;
    top:88%;
    bottom:0;
    left:0;
    right:0;
    white-space:pre-wrap;
    overflow:hidden;
    background-color:rgba(0,0,0,0.6);
    color:#fff;
    
    font-size: 24;
    color: ;
    padding: 8px;
    text-shadow: 5px 5px 5px black;

    content:attr(data-text);

    transition:0.5s;
  }
  
  .textOverImage:hover:after{
    top:0;
    padding:8px;
  }
  
  .textOverImage:first-line{
    color: black;
    font-weight: bold;
    font-size: 40;
  }



body{
 	overflow-y: all;
 	background: url(img/ht.jpg);
 	background-size: 100%;
 	height: 100%;
 	background-attachment: fixed;

}

.frame{
	width: 450px;
	height: 500px;
	position: absolute;
	top: 10%;
	left: 6.5%;
	z-index: 0;
}


.cim{
	top: 13%;
	left: 26%;
	position: absolute;
	font-size: 125;
	font-weight: bolder;
	font-family: 'Satisfy', cursive;
  color: white;
  text-shadow: 5px 5px 5px black;

}

.bazdmeg{
	list-style: none;
	font-size: 50;
	outline-color: none;
	position: absolute;
	top: 1%;
	position: fixed;
}

ul li i {
	color: white;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

.szaro {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


data-text{
  color:black;
}

.data-text{

color: black;

}

img{
}

.textOverImage1{
    position: absolute;
    width:300px;
    height:300px;
    float: left;
    margin:4px;
    background-size:134%;
    background-position:center;
    transition:0.5s;
    z-index: 1;

    

}
  
  .textOverImage1:hover{
    background-size:134%;

  }
  
  .textOverImage1:after{
    position:absolute;
    top:88%;
    bottom:0;
    left:0;
    right:0;
    white-space:pre-wrap;
    overflow:hidden;
    background-color:rgba(0,0,0,0.6);
    color:#fff;
    
    font-size: 24;
    color: ;
    padding: 8px;
    text-shadow: 5px 5px 5px black;

    content:attr(data-text);

    transition:0.5s;
  }
  
  .textOverImage1:hover:after{
    top:0;
    padding:8px;
  }
  
  .textOverImage1:first-line{
    color: black;
    font-weight: bold;
    font-size: 40;
  }

  .textOverImage2{
    position: absolute;
    width:300px;
    height:300px;
    float: left;
    margin:4px;
    background-size:95%;
    background-position:center;
    transition:0.5s;
    z-index: 1;

    

}
  
  .textOverImage2:hover{
    background-size:95%;

  }
  
  .textOverImage2:after{
    position:absolute;
    top:88%;
    bottom:0;
    left:0;
    right:0;
    white-space:pre-wrap;
    overflow:hidden;
    background-color:rgba(0,0,0,0.6);
    color:#fff;
    
    font-size: 24;
    color: ;
    padding: 8px;
    text-shadow: 5px 5px 5px black;

    content:attr(data-text);

    transition:0.5s;
  }
  
  .textOverImage2:hover:after{
    top:0;
    padding:8px;
  }
  
  .textOverImage2:first-line{
    color: black;
    font-weight: bold;
    font-size: 40;
  }

.textOverImage3{
    position: absolute;
    width:300px;
    height:300px;
    float: left;
    margin:4px;
    background-size:140%;
    background-position:center;
    transition:0.5s;
    z-index: 1;

    

}
  
.textOverImage3:hover{
    background-size:140%;

  }
  
  .textOverImage3:after{
    position:absolute;
    top:88%;
    bottom:0;
    left:0;
    right:0;
    white-space:pre-wrap;
    overflow:hidden;
    background-color:rgba(0,0,0,0.6);
    color:#fff;
    
    font-size: 24;
    color: ;
    padding: 8px;
    text-shadow: 5px 5px 5px black;

    content:attr(data-text);

    transition:0.5s;
  }
  
  .textOverImage3:hover:after{
    top:0;
    padding:8px;
  }
  
  .textOverImage3:first-line{
    color: black;
    font-weight: bold;
    font-size: 40;
  }


  .kontener{
  text-align: center;
  margin-top: 1750px;
}
.btn{
  border: 3px solid white;
  background: none;
  padding: 10px 20px;
  font-size: 28px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  font-weight: bolder;
}
.btn1,.btn2{
  color: black;
}
.btn3,.btn4{
  color: #fff;
}
.btn1:hover,.btn2:hover{
  color: #fff;
}
.btn3:hover,.btn4:hover{
  color: black;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: black;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,.btn4::before{
  height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}
